/*Color palette*/
:root{
    --bg-gradient: linear-gradient(#000000, #790909, #000000);
    --theme-secondary: #ffffff;
    --theme-primary: #790909;
    --theme-primary-dark: #000000;

    --text-color: var(--theme-secondary);
}